.container {
    /* border: 0px solid grey; */
    background-color: rgb(255, 254, 254);
    border-radius: 3px;
    width: 140px;
    height: 280px;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 0 20px rgb(71, 161, 15);
    &:hover {
        box-shadow: 0 0 5px grey;
    }
}

.container img {
    width: 130px;
    box-shadow: 0 5px 5px black;
    margin-top: 15px;


}

.buttonContainer {
    display: flex;
    justify-content: end;
}

.buttonContainer button {
    margin: 2px 2px 0 0;
    border-radius: 3px;
    background-color: pink;
    color: red;
    box-shadow: 0 2px 2px black;
    &:hover {
        background-color: red;
        color: pink;
        box-shadow: 0 2px 2px white;
    }
}

.dataContainer {
    text-align:start;
    padding: 10px;
}

.dataContainer h2 {
    margin: 2px;
    font-size: 15px;
    color: black
}

.dataContainer h4 {
    margin: 2px;
    font-size: 10px;
    color: black
}